body {
  margin: 0;
  font-family: 'Amatic SC', cursive; /*Heebo fonts*/
  font-family: 'Frank Ruhl Libre', serif;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color:#F5F5F5;
}






